.ava img {
  width: 400px;
  /* border-radius: 50%; */
}

.descriptionBlock {
  padding: 10px;
  display: flex;
}

.profilePicture img {
  height: 250px;
  width: 100%;
}

.fullName{
  font-size: 24px;
  font: bold
}

.userInfo {
  margin-left: 10px;
}

.status {
  font: italic;
}

.statusInput{
  padding: 10px;
  width: 600px;
  background-color: rgb(239, 231, 249);
  border: none
}