.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr; 
}

.dialogsItems {
    padding: 10px;
    color: #240356;
}

.dialogsItems .active {
    color: rgb(96, 7, 179);
}

.messages {
    padding: 10px;
}
